{% load static %}
<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="{% url 'auth:home' %}">
        <img src="{% static 'assets/images/pikachu.svg' %}" class="header-brand-img" alt="logo">FitSecret
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(https://lh3.googleusercontent.com/-EZnfGPvftkI/AAAAAAAAAAI/AAAAAAAAA5I/in5JbhZ3bp8/s120-p-rw-no/photo.jpg)"></span>
            <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">{{ username }}</span>
                      <small class="text-muted d-block mt-1">Welcome</small>
                    </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-user"></i> Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-help-circle"></i> Need help?
            </a>
            <a class="dropdown-item" href="{% url 'auth:logout' %}">
              <i class="dropdown-icon fe fe-log-out"></i> Sign out
            </a>
          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
         data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0" action="{% url 'search' %}">
          <input type="text" class="form-control header-search" placeholder="Search&hellip;" tabindex="1" name="food">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a href="{% url 'auth:home' %}" class="nav-link"><i class="fe fe-home"></i>Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fe fe-calendar"></i>Food dairy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><i class="fa fa-futbol"></i>
              Activities</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="my-3 my-md-5">
</div>

