{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="particles-js">
      <div class="container">
      <div class="row">
          {% if errors %}
              <div class="col col-login mx-auto alert alert-danger alert-dismissable">
                {{ errors }}
              </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col col-login mx-auto">
            <div class="text-center mb-6">
            </div>
            <form class="card" action="{% url 'auth:register' %}" method="post">
              {% csrf_token %}
              <div class="card-body p-6">
                <div class="card-title">Create new account</div>
                {% for field in form.visible_fields %}
                  <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                      <span class="help-block">{{ field.help_text|safe }}</span>
                    {% endif %}
                    {% endfor %}
                  </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                </div>
              </div>
            </form>
            <div class="text-center text-muted">
              <!-- Social login -->
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}