{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% include 'nav.html' %}
  <div class="container">
    <div class="row">
      {% for item in result_list %}
        <div class="col-sm-12">
          <div class="card border-primary">
            <div class="card-status bg-blue-dark"></div>
            <div class="card-header">
              <h2 class="card-title">{{ item.food_name }}</h2>
              <div class="card-options">
                <a id="like-button" href="#" class="card-options-collapse"><i class="far fa-heart"
                                                                              style="color:red"></i></a>
              </div>
            </div>
          <div id="{{ item.food_id }}success_message" class="card-alert alert alert-success mb-0" style="display: none;">
            Success !
                  </div>
          <div id="{{ item.food_id }}error_message" class="card-alert alert alert-danger mb-0" style="display: none;">
            Error, please add valid unit !
          </div>
          <div id="{{ item.food_id }}error_network_message" class="card-alert alert alert-danger mb-0" style="display: none;">
            Network error !
          </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item card-text">
                  <p>{{ item.food_description }}
                </li>
              </ul>
            </div>
            <div class="card-body">
              <form action="{% url 'food_entry_create' %} " class="form-inline pagination justify-content-center" method="post"
                    id="{{ item.food_id }}" >
                {% csrf_token %}
                <div class="form-group mb-2 row">
                  <label for="{{ item.food_id }}unitNumber" class="sr-only"></label>
                  <label for="{{ item.food_id }}foodId" class="sr-only"></label>
                  <label for="{{ item.food_id }}food_meal" class="sr-only"></label>
                  <label for="{{ item.food_id }}serving_methods" class="sr-only"></label>
                  <select id="{{ item.food_id }}food_meal" class="form-control" name="meal">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="other">Other</option>
                  </select>
                  <select id="{{ item.food_id }}serving_methods" class="form-control" name="servingId" name="servingId">
                    {% for serving_method in item.serving_methods %}
                      <option value="{{ serving_method.serving_id }}">{{ serving_method.serving_description }}, Calories:{{ serving_method.calories }}</option>
                    {% endfor %}
                  </select>
                  <input type="text" class="d-none" value="{{ item.food_id }}" name="food" id="{{ item.food_id }}foodId"/>
                  <input type="text" class="form-control" id="{{ item.food_id }}unitNumber"
                         placeholder="Number of the unit" name="unit">
                  <button id="{{ item.food_id }}food-entry-submit" type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center row">
      {% if previous_page %}
        <li class="page-item">
          <a class="page-link" href="?food={{ food }}&page={{ previous_page }}">Previous</a>
        </li>
      {% endif %}
      <li class="page-item">
        <div class="page-link">{{ page }} of {{ total_page }}</div>
      </li>
      {% if next_page %}
        <li class="page-item">
          <a class="page-link" href="?food={{ food }}&page={{ next_page }}">Next</a>
        </li>
      {% endif %}
    </ul>
    <form action="/search" class="form-inline pagination justify-content-center row">
      <div class="form-group mx-sm-1 mb-2">
        <label for="pageNumber" class="sr-only"></label>
        <label for="foodName" class="sr-only"></label>
        <input type="text" class="d-none" value="{{ food }}" name="food" id="foodName">
        <input type="number" min="1" max="{{ total_page }}" class="form-control" id="pageNumber"
               placeholder="{{ page }}" name="page">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Go</button>
    </form>
  </nav>
  {% include 'footer.html' %}
{% endblock %}
{% block script %}
  <script src="{% static 'assets/js/search.js' %}"></script>
{% endblock %}