{% extends 'base.html' %}
{% block content %}
  {% include 'nav.html' %}
  <div class="container d-flex">
    <div class="row">
      {% for item in result_list %}
        <div class="col-md-6 col-xl-4">
          <div class="card border-primary">
            <div class="card-status bg-blue-dark"></div>
            <div class="card-header">
              <h3>{{ item.food_name }}</h3>
            </div>
            <div class="card-options">
              <a href="#" class="card-options-collapse"></a>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ item.brand_name }}</li>
                <li class="list-group-item">{{ item.food_description }}</li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center row">
      {% if previous_page %}
        <li class="page-item">
          <a class="page-link" href="?food={{ food }}&page={{ previous_page }}">Previous</a>
        </li>
      {% endif %}
      <li class="page-item">
        <div class="page-link">{{ page }} of {{ total_page }}</div>
      </li>
      {% if next_page %}
        <li class="page-item">
          <a class="page-link" href="?food={{ food }}&page={{ next_page }}">Next</a>
        </li>
      {% endif %}
    </ul>
    <form action="/search" class="form-inline pagination justify-content-center row">
      <div class="form-group mx-sm-1 mb-2">
        <label for="pageNumber" class="sr-only"></label>
        <label for="foodName" class="sr-only"></label>
        <input type="text" class="d-none" value="{{ food }}" name="food" id="foodName">
        <input type="number" class="form-control" id="pageNumber" placeholder="{{ page }}" name="page">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Go</button>
    </form>
  </nav>
  {% include 'footer.html' %}
{% endblock %}